@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1de782;
  --color-secondary: #8f5fab;
  --color-primary-light: #bdf0c1;
  --color-dark: #0a020d;
  --color-dark-light: #110519;
  --color-text-dark: #101012;
  --color-text-muted: #5a5a5d;
  --color-border: #dddedf;
  --color-accent: #17c769;
  --color-inactive: #a1d9be;
  --color-disabled: #d5e5f0;

  --font-poppins: "Poppins", "sans-serif";
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .container-fluid {
    @apply px-[5%] max-w-full w-full;
  }
  .btn {
    @apply bg-primary border border-primary text-white font-medium text-base md:text-lg py-1 px-4 md:py-2 md:px-6 rounded-lg inline-block cursor-pointer;
  }
  .btn-alt {
    @apply bg-transparent border border-white text-white font-medium text-base md:text-lg py-1 px-4 md:py-2 md:px-6 rounded-lg inline-block cursor-pointer;
  }
  .btn-gradient {
    @apply text-white font-medium text-base md:text-lg py-2 md:py-3 px-5 md:px-6 rounded-full inline-flex items-center gap-1 bg-gradient-to-r from-primary via-primary to-primary-light w-auto border border-transparent cursor-pointer;
  }
  .btn-ghost {
    @apply text-white font-medium text-base md:text-lg py-2 md:py-3 px-5 md:px-6 rounded-full inline-flex items-center gap-1 bg-transparent w-auto border border-white cursor-pointer;
  }
  .btn-gradient-sm {
    @apply text-white font-medium text-sm py-1 md:py-2 px-3 md:px-4 rounded-full inline-flex items-center gap-1 bg-gradient-to-r from-primary via-primary to-primary-light w-auto border border-transparent cursor-pointer;
  }
  .btn-ghost-sm {
    @apply text-white font-medium  text-sm py-1 md:py-2 px-3 md:px-4 rounded-full inline-flex items-center gap-1 bg-transparent w-auto border border-white cursor-pointer;
  }
  .swiper-pagination-bullet-active {
    @apply bg-primary;
  }

  .movie-badge {
    @apply border border-primary inline-block w-auto absolute top-6 right-6 text-sm py-1 px-3 rounded-full bg-primary/40 backdrop-blur text-primary font-bold;
  }
  .p-top {
    @apply pt-16 md:pt-20 lg:pt-32;
  }
}
